Body {
    background-color: orangered;
    color: greenyellow;
    font-family: "Comic Relief", sans-serif;
    margin: 20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

header {
    border-bottom: solid 2px rgb(42,122,228);
    margin: 20px;
    padding: 20px;
    font-size: 32px;
    color: greenyellow;
}

section {
background: rgb(184,156,213);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content:center;
}

.chamada-texto{
    margin-right: 5%;
}


